/* CSS reset */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-size:100%;
}

/*container background-colours */



body {
  display:flex;
  justify-content:center;
  align-items:center;
  font-family:Poppins;
  height: 100vh;
  background: url(assets/background-2.jpg) no-repeat center center fixed;
  background-size:cover;
  position:relative;
  
}

.profile-card{
  width:550px;
  max-width: calc(100vw - 20px);
}

.header{
  position: relative;
  left: -220px;
  top:20px;
  text-align:center;
  width: 90%;
  padding: 5%;
  background-color: rgba(223, 223, 159, 0.9);
  border-radius:10px;
  }

.header:hover{
    background-color: rgb(223, 224, 128);
  }

.name-headline{
  color:rgb(6, 56, 17);
  
}

h1, p{
  padding: 3px;
  letter-spacing: -.008em;
}

 h1{
  font-size:35px;
  color:rgb(6, 56, 17);
 }

 h2{
  font-size:25px;
}

p{
  font-size:22px;
}
.content{
  position: relative;
  top:-10px;
  left:100px;
  text-align: center;
  padding: 7%;
  color:rgb(6, 56, 17);
  background-color: rgba(207, 223, 194, 0.9);
  border-radius:10px;
}
 .content:hover{
  background-color: azure;
 }

.contact-info{
  position: relative;
  top: -25px;
  padding:2%;
  background-color: rgba(214, 161, 99, 0.8);
  border-radius:10px;
}

.contact-info:hover{
  background-color: antiquewhite;
}

img{
  filter: grayscale(30%);
  transition: all 0.5s ease-in-out;
  width: 160px;
  height: auto;
  border-radius: 50%;
  padding: 2px;
  background-color: beige;
}

img:hover{
  filter: grayscale(20%);
  transform: scale(1.1);
}
.contact-info{
  position:relative;
  margin-left:300px;
  text-align:center;

}
ul{
  list-style-type: none;
}

li{
  display: inline;
  
}
