/* CSS reset */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-size:100%;
}
/*container background-colours */

.profile-card{
  background-color: rgb(166, 255, 0);
}

.header{
  background-color: green;
}

.profile-image{
  background-color: blueviolet;
}

.name-headline{
  background-color: brown;
}

.content{
  background-color: cornflowerblue;
}
.contact-info{
  background-color: darkorange;
}

.profile-card{
  width: 480px;
  max-width: calc(100vw - 10px);
 
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:Cabin;
  height: 100vh;
}